*{
  box-sizing: border-box;
  background-color: rgb(218, 218, 210);
}
body{
  margin: 0;
}
h1, h2, h3, hr{
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #aa9;
  transition: transform 200ms ease;
}
.card__item{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 7px;
  color: #aa9;
  padding-left: 20px;
}
.card__span{
  color: black;
  transform: translateX(-10px);
}
.card__btn{
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}
.card__footer{
  display: flex;
  gap: 20px;
}
.card__btn:nth-child(1){
  background-color: brown;
  color: white;
}
.card__btn:nth-child(2){
  background-color: goldenrod;
  color: white;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card:hover{
  transform: scale(1.05);
}
input{
  outline: none;
}
.form{
  border: 1px solid #ccca;
  padding: 20px;
  width: max-content;
  border-radius: 10px;
  background-color: white;
}
.form__btn{
  display: block;
  width: min-content;
  padding: 8px 12px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
 margin-top: 10px;
 background-color: darkblue;
 color: white;
}
.form-none{
  display: none;
}
.form__equis{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%;
}
.form__equis:hover{
  background-color: #0005;
  color: white;
}

/* es un modal */
.form-container{
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 backdrop-filter: blur(5px);
}